// Add your custom CSS here.
.top-bar {
  &__countdown {
    background: #006346 !important;
    &::after {
      content:"CLIQUE AQUI.";
      color:#fff;
      font-weight: bold !important;
    }
  }
  &__nav {
    display: none !important;
  }
}
.header {
  &__search {
    border: .5px solid #cbcbcb;
    border-radius: 0
  }
}
@media(min-width: 767px) {
  #central, #televendas, #usuario-desk {
    display: inline-block !important;
    position: relative;
  }
  #televendas {
    right: 2rem;
  }
  #usuario-desk {
    bottom: .3rem;
    font-size: 1rem;
    right: 5rem;
  }
}
@media(max-width: 767px) {
  #central, #televendas, #usuario-desk, #carrinho {
    display: none !important;
  }
}

.banner-slider {
  max-width: 100%;
  max-height: calc(100rem*var(--banner-aspect-ratio))
}
.banner-slider + .responsive-baner {

  .container {
    max-width: 100%;
    padding: 0;
  }
  margin-top: 0 !important;
}
#menu {
  padding: 7px 5px;
  background: #006346!important;
  color: #fff;
  a {
    color: #fff;
  }
}
.brands-carousel {
  .fas.fa-arrow-left::before {
    content: url('/img/uploads/iconfinder_left_4829874.png') !important;
    background-size: 100% 100%;
  }
  .fas.fa-arrow-right::before {
    content: url('/img/uploads/iconfinder_right_4829872.png') !important;
    background-size: 100% 100%;
  }
}
@media(min-width: 767px) {
  #cart-count {
    background: transparent;
    color: #006346;
    position: absolute;
    top: 30px;
    right: 13px;
    font-size: .55rem;

    &::after {
      content: " PRODUTO(S)"
    }
  }
}
body, em, span, strong, p, b, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
.header__buttons span {
  font-size: .9rem
}
.footer__title, .footer__subtitle {
  color: #626262;
  font-weight: bold
}
.footer__subtitle {
  margin-bottom: .4rem !important
}
.contacts-phone {
  margin-bottom: .3rem
}
.footer__store {
  margin-bottom: 0 !important;
  line-height: 1.5 !important;
}
@media(min-width: 767px) {
  .footer__contacts {
    float: right;
  }  
}

#marcas {
  background: #006346;
  padding: 10px;
  align-items: center;
  ul {
    margin-bottom: 0;
    @media(min-width: 767px) {
      flex-direction: row
    }
    @media(max-width: 767px) {
      flex-direction: column;
    }
  }
  h4 {
    color: #fff;
  }
}
.footer .container {
  max-width: 100%;
  .row {
    margin-bottom: 1rem;
  }
}
#normal {
  padding-left: 15px;
  padding-right: 15px
}
#footer-final {
  display: flex;
  justify-content: space-around;
  align-items: center
}
